body {
  margin-top: 20px;
}

.borderless td, .borderless th {
    border: none !important;
}

/* Yellowish stars */
.rating {
  color: #DAA017;
}

a.btn {
  margin-right: 2px;
}

/* Make table rows show pointer on hover */
#table-activities-list tr {
  cursor: pointer;
}